@model EDeviceClaims.WebUi.Areas.Underwriter.Models.UnderwriterClaimViewModel

<h3 class="centerElement">Details</h3>

<div>
    <table class="table" id="claimListTable">
        <tr>
            <th>@Html.Label("Policy")</th>
            <td>@Model.PolicyId</td>
        </tr>
        <tr>
            <th>@Html.Label("Customer")</th>
            <td>@Model.PolicyHolderName</td>
        </tr>
        <tr>
            <th>@Html.Label("Device")</th>
            <td>@Model.DeviceName</td>
        </tr>
        <tr>
            <th>@Html.Label("Status")</th>
            <td>@Model.Status.Name</td>
        </tr>
        <tr>
            <th>@Html.Label("Started")</th>
            <td>@Model.Start</td>
        </tr>
    </table>
</div>