@model EDeviceClaims.WebUi.Models.ClaimViewModel
    
<h2 class="centerElement">Claim: @Model.Id</h2>

<div>
    @Html.Partial("_claimDetailsTable", Model)
    @Html.Partial("_claimNotesTable", Model)
</div>


<div id="buttons">
    @*@Html.Partial("_claimButton", Model)*@

    @Html.ActionLink("Back to Devices", "Index", "Devices", routeValues: null, htmlAttributes: new { Class = "btn btn-danger btn-lg" })

</div>

<style>
    
    .centerElement {
        text-align: center;
        padding-top: 2%;
        margin-left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%);
        align-content: center;
    }

    #notesPlaceHolder {
        text-align: center;
        margin-left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%);
        align-content: center;
    }

    #buttons {
        text-align: center;
        padding-top: 10%;
        margin-left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%);
        align-content: center;
    }

     table#claimListTable {
         margin: auto;
         width: 30%;
         background-color: #f1f1c1;
         text-align: center;
     }

    table#claimListTable tr:nth-child(even) {
        background-color: #eee;
    }

    table#claimListTable tr:nth-child(odd) {
        background-color: #fff;
    }

    table#claimListTable th {
        color: black;
        background-color: gray;
        text-align: left;
    }

    table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
    }

    th, td {
        padding: 15px;
    }
</style>

@*@model EDeviceClaims.WebUi.Models.ClaimViewModel

<h2>Claim ID @Model.Id</h2>

<div>
    <h4>Device Info</h4>
    Device: @Model.DeviceName<br/>
    Serial: @Model.SerialNumber<br />
    Policy: @Model.PolicyNumber
</div>

<div>
    <h4>Notes</h4>
    
    @if (Model.Notes.Any())
    {
        foreach (var note in Model.Notes)
        {
            <div>
                <span>@note.Content</span>
                <span>@note.WhenCreated.GetValueOrDefault()</span>
                <span>@note.CreatedBy</span>
            </div>
        }
    }
    else
    {
        <span>No Notes on File</span>
    }
    
</div>*@

@*<h2>View Claim</h2>

<div>
    <table class="table" id="claimDetailsTable">
        <tr>
            <th>@Html.Label("Claim ID")</th>
        </tr>
        <tr></tr>
        <tr>@Model.Id</tr>
        <tr>@Model.DeviceName</tr>
        <tr>@Model.PolicyNumber</tr>
        <tr>@Model.SerialNumber</tr>
    </table>
    <div>
        <h4>Notes:</h4>
        @foreach (var note in Model.Notes)
        {
            <div>
                <span>@note.Content</span>
                <span>@note.WhenCreated.GetValueOrDefault()</span>
                <span>@note.CreatedBy</span>
            </div>
        }
    </div>
</div>*@